/*Se define la fuente general que se usara en la página*/
body {
    font-family: 'MiFuentePersonalizada', sans-serif;
    background-color: #E1E5e8;
}

#main {
  display: flex;
  flex-direction: column;
}

#image-slider {
  display: flex;
  flex-wrap: wrap;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

#menu button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #89ad89;
  color: #fff;
  cursor: pointer;
}

#menu button:hover {
  background-color: #4b624b;
}


#menu a {
    text-decoration: none; /* Esto quita el subrayado */
    color: black; /* o cualquier color que prefieras */
  }
  
/* Cambia el aspecto de los enlaces al pasar el ratón sobre ellos */
#menu a:hover {
    color: rgb(185, 185, 185); /* o cualquier color para el efecto hover */
    text-decoration: none; 
  }
  
/*Para cambiar el estilo del texto ultima fecha de actualizacion*/
ultimaFecha {
    position: fixed;
    bottom: 0;
    /*left: 50%;*/
    margin: 0;
    border-radius: 10px;
    padding: 7px;
    background-color: #89ad89;
  }

#TextoContacto{
  text-align: center;
}

#headerGeneral {
  background-color: #89ad89;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

#h1General{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#mainIndex {
  display: grid;
  place-items: center;
}

footer{
  text-align: center;
}

#textoMision{
  text-align: center;
}

#textoAcerca{
  text-align: center;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fila-productos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.producto {
  margin: 20px;
  flex-basis: calc(33.333% - 20px); /* Ajusta el porcentaje y el margen según tus necesidades */
}
.producto img {
  width: 100vw;
  max-width: 150px;
}

#carrito {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
}

#carrito h3 {
  font-size: 1.2em;
  margin-top: -5px;
}

#carrito input[type="button"] {
  background-color: #2874A6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#carrito input[type="button"]:hover {
  background-color: #0056b3;
}